@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    @apply transition-colors duration-200;
  }
  h1 {
    @apply text-3xl font-bold sm:text-4xl md:text-5xl;
  }
  h2 {
    @apply text-2xl font-bold sm:text-3xl md:text-4xl;
  }
  h3 {
    @apply text-xl font-bold sm:text-2xl md:text-3xl;
  }
  h4 {
    @apply text-xl font-semibold md:text-2xl;
  }
  p {
    @apply text-gray-800 dark:text-gray-400 sm:text-lg;
  }
}
@layer components {
  .dark {
    @apply bg-black;
  }
  .sp-text {
    @apply px-2 font-medium rounded-md;
  }
  .separator {
    @apply divide-x divide-gray-400 dark:divide-gray-500;
  }
  .meta-size {
    @apply text-xs sm:text-sm lg:text-base;
  }
  .toolbar {
    box-shadow: 1.1rem 0 0 #d1d5db, 2.2rem 0 0 #d1d5db;
  }
  .dark .toolbar {
    box-shadow: 1.1rem 0 0 #3f3f46, 2.2rem 0 0 #3f3f46;
  }
  .thread-mark::before {
    position: absolute;
    content: '';
    padding: 0.6rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px solid rgba(59, 130, 246);
    background-color: #fff;
    left: -2.3rem;
  }
  .dark .thread-mark::before {
    background-color: #000;
  }
  .sub-thread-mark::before {
    position: absolute;
    z-index: 10;
    content: '•';
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    left: -2.05rem;
  }
  .thread-line::before {
    position: absolute;
    content: '';
    height: 120%;
    width: 2px;
    background-color: #d1d5db;
    left: -1.61rem;
    top: -1.62rem;
  }
  .dark .thread-line::before {
    background-color: #3f3f46;
  }
  .hide-sideChild {
    z-index: -10;
  }
  @media (min-width: 768px) {
    .thread-line::before {
      left: -1.63rem;
      top: -1.77rem;
    }
    .sub-thread-mark::before {
      left: -2.1rem;
    }
  }
}

.prose img {
  @apply m-0;
}

code {
  @apply p-0.5 rounded-md dark:text-purple-300 border border-gray-300 dark:border-gray-700 bg-gray-100 dark:bg-gray-900;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-400 dark:text-gray-600;
}

.token.punctuation {
  @apply text-pink-600 dark:text-pink-400;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-purple-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-yellow-600;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-600 dark:text-blue-400;
}

.token.function,
.token.class-name {
  @apply text-green-600 dark:text-green-400;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-800 dark:text-gray-200;
}

pre::-webkit-scrollbar {
  @apply hidden;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
